/* Google fonts */

/* cyrillic-ext */
@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: 400;
	src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v20/neILzCirqoswsqX9zo-mM4MwWJXNqA.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: 400;
	src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v20/neILzCirqoswsqX9zoamM4MwWJXNqA.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: 400;
	src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v20/neILzCirqoswsqX9zo2mM4MwWJXNqA.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: 400;
	src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v20/neILzCirqoswsqX9zoymM4MwWJXNqA.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: 400;
	src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v20/neILzCirqoswsqX9zoKmM4MwWJU.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Style */

* {
	box-sizing: border-box;
}

html,
body {
	background-color: #eeeeee;
	padding: 0 0;
	margin: 0 0;
	position: relative;
	color: #343434;
	font-size: 16px;
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 26px;
}

/* header {
	background: #F44336;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 64px;
	padding: 19px 20px;
	text-align: left;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
	z-index: 11;
}

@media (min-width: 960px) {
	header {
		text-align: left;
	}
}

@media (min-width: 1441px) {
	header {
		text-align: center;
	}
} */

.a3-logo,
.a3-logo a {
/* .a3-main-header .mdl-layout-title, 
.a3-main-header .mdl-layout-title a, */
/* header h1,
header h1 a { */
	font-family: 'Lobster', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	text-transform: none;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}

h1 {
	margin: 0 0 20px;
}

h2 {
	padding-top: 0;
	margin-top: 0;
}

.events-list {
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0;
	list-style-type: none !important;
	background: #fff;
}

.li-event-name {
	font-size: 120%;
	margin-left: 60px;
	font-weight: 600;
	color: #212121;
}

.li-event-startDate {
	font-size: 100%;
	color: #616161;
	margin-left: 60px;
}

.li-event-location {
	font-size: 100%;
	color: #616161;
	margin-left: 60px;
}

.li-Event a {
	color: inherit;
	font-weight: inherit;
}

.li-Event a:hover {
	color: inherit;
	font-weight: inherit;
}

.li-Event {
	border-bottom:  1.1px solid rgba(0,0,0,0.12);
	margin: 0 0 0 0 !important;
	padding: 20px 20px 20px 20px;
	cursor: pointer;
}

.li-event-icon {
	border-radius: 50%;
	font-size: 20px;
	background: #333;
	color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	float: left;
	margin-top: 3px;
	line-height: 40px;
}

.li-eventtype-Event .li-event-icon {
	background: #FFC107;
	color: black;
	font-weight: 600;
}

.li-eventtype-MusicEvent .li-event-icon {
	background: #F44336;
	color: white;
	font-weight: 600;
}

.li-eventtype-TheaterEvent .li-event-icon {
	background: #0277BD;
	color: white;
	font-weight: 600;
}

.li-Event.active {
	background: rgba(0, 0, 0, 0.04);
}

.viewDetails {
	display: block !important;
}

/* a3-badge */

.a3-badge {
	background: #eee;
	padding: 5px 10px;
	border-radius: 20px;
	font-size: 85%;
	font-weight: 600;
	margin-bottom: 10px;
	line-height: 40px;
	color: #111;
	white-space: nowrap;
}

.notification {
	background: #eee;
	color: #111;
}

.color-blue {
	color: #0176be;
}

.color-red {
	color: #F44336;
}

.color-yellow {
	color: #FFC107;
}

.bg-clear,
.a3-badge.clear,
.notification.clear {
	background: transparent;
	color: #333;
}

.bg-blue,
.a3-badge.blue,
.notification.blue {
	background: #0176be;
	color: white;
}

.bg-red,
.a3-badge.red,
.notification.red {
	background: #F44336;
	color: white;
}

.bg-yellow,
.a3-badge.yellow,
.notification.yellow {
	background: #FFC107;
	color: #111;
}

.a3-spacer {
	margin-left: 10px;
}

hr {
	height: 1px;
	border: 0;
	color: rgba(0,0,0,0.12);
	background-color: rgba(0,0,0,0.12);
}

.nowrap {
	white-space: nowrap !important;
}

.a3-today,
.a3-tomorrow {
	/* not enough contrast */
	/* color: #F44336; */ 
	/* not red... */
	/* color: #0176be;  */
	color: #F44336;
}

.event-urls a {
	margin-right: 15px;
}

/* New implementation using React  */

/*

.root
	.a3-app
		.a3-event-list
		.a3-event-details

*/

.a3-app {
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
	position: fixed;
	top: 0; /* 64px; */  /* for now - because of header */
	right: 0;
	bottom: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	max-width: 1440px;
}

.a3-event-list {
	background: #fafafa;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	width: 100%;
}

.a3-event-details {
	background: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	width: 100%;
	display: block;
}

.a3-event-details-content {
	padding: 40px 20px;
}

@media (min-width: 960px) {
	.a3-event-details {
		box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
	}
}

.a3-modal-toolbar-top {
    position: fixed;
    left: 0;
    top: 64px;
    right: 0;
    background: #f44336;
    color: #fff;
    height: 64px;
    font-size: 1.1rem;
    line-height: 64px;
    padding: 0 20px;
    cursor: pointer;
}

/* header {
	box-shadow: none;
} */

@media (min-width: 960px) {
	/* header {
		box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
	} */
	.a3-event-list {
		width: 33%;
		/* border-right: 1.1px solid rgba(0,0,0,0.12); */
	}
	.a3-event-details {
		width: 67%;
		display: block !important;
	}
	.a3-event-details-content {
		padding: 40px 40px;
	}
	.a3-modal-toolbar-top {
		display: none;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.a3-event-details-event-url {
	line-height: 50px;
	clear:both;
}

.a3-event-details-event-url-icon {
	line-height: 50px !important;
	float: left;
	width: 40px;
	text-align: center;
}

.a3-event-details-event-url-title {
	line-height: 50px;
	float: left;
	margin-left: 8px;
	color: #343434;
}

/* Ripple effect - https://codepen.io/finnhvman/pen/jLXKJw */
.ripple {
	background-position: center;
	transition: background 0.8s;
  }
  .ripple:hover {
	background: rgba(0, 0, 0, 0.04) radial-gradient(circle, transparent 1%, rgba(0, 0, 0, 0.04) 1%) center/15000%;
  }
  .ripple:active {
	background-color: rgba(0, 0, 0, 0.08);
	background-size: 100%;
	transition: background 0s;
  }
  
.chip-collapsed {
	display: none;
}

.chip-collection-expand,
.chip-collection-collapse {
	cursor: pointer;
}

.chip-collection-expand:hover,
.chip-collection-expand:active,
.chip-collection-collapse:hover ,
.chip-collection-collapse:active {
	text-decoration: underline;
}