/*
TODO: is this stil accurate?
.root
	.a3-app
		.a3-event-list
		.a3-event-details
*/

* {
	box-sizing: border-box;
}

html,
body {
	background-color: #eeeeee;
	padding: 0 0;
	margin: 0 0;
	position: relative;
	color: #343434;
	font-size: 16px;
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 26px;
}

a {
    color: #0176be;
}

@media (min-width: 1441px) {
	.a3-main-layout {
		box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
	}
}

.a3-logo,
.a3-logo a {
	font-family: 'Lobster', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	text-transform: none;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}

.color-blue {
	color: #0176be;
}

.color-red {
	color: #F44336;
}

.color-yellow {
	color: #FFC107;
}

.bg-clear {
	background: transparent !important;
	color: #333 !important;
}

.bg-blue {
	background: #0176be !important;
	color: white !important;
}

.bg-red {
	background: #F44336 !important;
	color: white !important;
}

.bg-yellow {
	background: #FFC107 !important;
	color: #111 !important;
}

hr {
	height: 1px;
	border: 0;
	color: rgba(0,0,0,0.12);
	background-color: rgba(0,0,0,0.12);
}

.nowrap {
	white-space: nowrap !important;
}

.a3-today,
.a3-tomorrow {
	/* not enough contrast */
	/* color: #F44336; */ 
	/* not red... */
	/* color: #0176be;  */
	color: #F44336;
}

.event-urls a {
	margin-right: 15px;
}

.a3-app {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	max-width: 1440px;
}

.a3-event-list {
	background: #fafafa;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	width: 100%;
}

.a3-event-details {
	background: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	width: 100%;
	display: block;
}

.a3-event-details-content {
	padding: 40px 20px;
}

@media (min-width: 960px) {
	.a3-event-list {
		border-right: 1px solid #e5e5e5;
	}
	.a3-event-details {
		/* box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12); */
	}
}

@media (min-width: 960px) {
	.a3-event-list {
		width: 33%;
	}
	.a3-event-details {
		width: 67%;
		display: block !important;
	}
	.a3-event-details-content {
		padding: 40px 40px;
	}
}

.md-and-up {
	display: none;
}

@media (min-width: 960px) {
	.md-and-up {
		display: initial;
	}
}

.sm-and-down {
	display: initial;
}

@media (min-width: 960px) {
	.sm-and-down {
		display: none;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.a3-event-details-event-url {
	line-height: 50px;
	clear:both;
}

.a3-event-details-event-url-icon {
	line-height: 50px !important;
	float: left;
	width: 40px;
	text-align: center;
}

.a3-event-details-event-url-title {
	line-height: 50px;
	float: left;
	margin-left: 8px;
	color: #343434;
}

/* Ripple effect - https://codepen.io/finnhvman/pen/jLXKJw */
.ripple {
	background-position: center;
	transition: background 0.8s;
  }
  .ripple:hover {
	background: rgba(0, 0, 0, 0.04) radial-gradient(circle, transparent 1%, rgba(0, 0, 0, 0.04) 1%) center/15000%;
  }
  .ripple:active {
	background-color: rgba(0, 0, 0, 0.08);
	background-size: 100%;
	transition: background 0s;
  }
  
.chip-collapsed {
	display: none;
}

.chip-collection-expand,
.chip-collection-collapse {
	cursor: pointer;
}

.chip-collection-expand:hover,
.chip-collection-expand:active,
.chip-collection-collapse:hover ,
.chip-collection-collapse:active {
	text-decoration: underline;
}

.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons {
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}

.a3-mdl-list__item-title {
	display: block;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	/* TODO: this is fine when you have an icon / avatar. Otherwise it won't work */
	margin-left: 56px;
}

li.mdl-list__item.mdl-list__item--three-line:hover {
	background: rgba(0, 0, 0, 0.04);
}

li.mdl-list__item.mdl-list__item--three-line.active::before {
    position: absolute;
    left: 0;
    width: 4px;
    background: #f44336;
    content: "";
    height: inherit;
}

.mdl-list__item--three-line .mdl-list__item-primary-content {
    max-width: calc(100% - 0px);
}
.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.a3-event-list {
	background: #fff;
}

@media (min-width: 1025px) {
	.a3-event-list {
		xxxpadding-left: 20px;
		xxxpadding-right: 20px;
	}
}

.mdl-list__item-text-body {
    margin-left: 56px;
}

.mdl-list__item.mdl-list__item--three-line.has-divider .mdl-list__item-text-body {
	/* TODO: figure out why 1px is not enough */
	border-bottom: 3px solid #e5e5e5;
}

.full-width {
	width: 100%;
}

.mdl-card__title-text {
	font-weight: 500;
}

hr.divider-inset {
	margin: 1px 15px;
}

.padding-bottom-none {
	padding-bottom: 0;
}

.margin-bottom-none {
	margin-bottom: 0;
}

.remaining-dates-title {
	margin-bottom: 8px;
}

.event-description p:last-of-type {
	margin-bottom: 0;
}

.simple-list .mdl-list__item-primary-content {
	position: relative;
}

.simple-list .mdl-list__item-icon {
	position: absolute;
	top: 0;
}

.simple-list .simple-list-text {
	margin-left: 56px;
}

.a3-event-details-content .mdl-card__supporting-text {
    color: rgba(0,0,0,1);
}